.kitchen-panel
{
    margin-top: 7%;
    margin-left: 10%;
    margin-right: 10%;

}
/* .Confirmed {
    color: #64dd17; Green
    
  }
  
  .reserving {
    color: #ffee58; Yellow
  }
  
  .Cancelled {
    color: #ff1744; Red
  } */

@media (max-width: 768px) {
    .kitchen-panel
    {
        margin-top: 25%;
    }
  }

  .btn {
    display: inline-block;
    padding: .9rem 1.5rem;
    border: var(--border);
    border-radius: var(--border-radius);
    color: var(--main-color);
    background: none;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1.7rem;
}

.btn:hover {
    border-radius: var(--border-radius-hover);
    border: var(--border-hover);
}
.btns
{
    margin-top: 20px;
}
.btns .btn{
    margin-left: 10px;
}